<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jike.ultracamera">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE"/>

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.location.gps" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:theme="@style/AppTheme"
        android:largeHeap="true"
        android:hardwareAccelerated="true"
        android:requestLegacyExternalStorage="true"
        android:testOnly="false">

        <meta-data
            android:name="android.vivo_nightmode_support"
            android:value="true" />

        <activity android:name="com.jike.ultracamera.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.jike.ultracamera.SettingsActivity"
            android:theme="@style/SettingsTheme"
            android:launchMode="singleTop"/>

        <activity android:name="com.jike.ultracamera.ViewActivity"
            android:theme="@style/SettingsTheme"
            android:launchMode="singleTop"/>

        <activity android:name="com.jike.ultracamera.LabActivity"
            android:theme="@style/SettingsTheme"
            android:launchMode="singleTop"/>

    </application>

</manifest>